/* Main container */
.task-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  font-family: "Poppins", sans-serif;
}

/* Input section */
.task-input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.task-input {
  flex: 1;
  padding: 12px 14px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.2s;
  height: 150px;
  width: 450px;
}

.task-input:focus {
  border-color: #4a7efc;
  outline: none;
}

.task-add-btn {
  padding: 12px 18px;
  background: #4a7efc;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.task-add-btn:hover {
  background: #355fd1;
}

/* Task list styles */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-item {
  padding: 15px;
  background: #f7f9fc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  font-size: 17px;
  cursor: pointer;
  user-select: none;
}

.task-title.done {
  text-decoration: bold;
  color: #5cb85c;
  font-weight: 500;
}

/* Delete button */
.task-delete-btn {
  background: #ff4d4d;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.task-delete-btn:hover {
  background: #d93636;
}
/* Top bar */
.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

/* Profile button */
.profile-btn {
  background: #4a7efc;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.profile-btn:hover {
  background: #355fd1;
}
